.App{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    color: rgb(255, 102, 102);
}
button{
    padding: 1rem 3rem;
    background-color: black;
    border: 2px solid rgb(255, 102, 102);
    color: rgb(255, 102, 102);
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}
button:hover{
    border-color: black;
    background-color: rgb(255, 102, 102);
    color: black;
}